<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-container row">
    <div class="login-form">
      <h2>Login Here!</h2>
      <div class="display-input">
        <label class="display-lable" required> UserName*:</label>
        <mat-form-field appearance="outline">
            <mat-label>Enter username</mat-label>
          <input matInput formControlName="username" autocomplete="off">
          <mat-error *ngIf="loginForm.invalid">Invalid Username</mat-error>
        </mat-form-field>
      </div>
      <div class="display-input">
        <label class="display-lable"> Password*:</label>
        <mat-form-field appearance="outline">
            <mat-label>Enter Password</mat-label>
          <input matInput formControlName="password" autocomplete="off">
          <mat-error *ngIf="loginForm.invalid">Invalid password</mat-error>
        </mat-form-field>
      </div>
      <button class="login-button" mat-button [disabled]="!loginForm.valid">Submit</button>
    </div>
  </div>
</form>