/* Structure */
table {
  width: 100%;
  background-color: lavender;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.product-list {
  max-width: 700px;
  margin: auto;
}
.login-button {
  cursor: pointer;
  background-color: #3f51b5;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 3px 5px 0px #ee120775;   
  border-radius: 25px;
}
::ng-deep {
  .mat-cell {
    width: auto;
  }
}